// Colors
$black : #333;
$white : #fff;
$silver: #f5f5f5;
$grey  : #abb1bd;
$purple: #5c2d91;
$blue  : #0072c6;

// Breakpoints
$mobile: "max-width: 549px";
$tablet-max: "max-width: 1024px";
$tablet: "min-width: 550px";